body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
}

ul {
  text-align: left;
  list-style: none;
  display: flex;
}

li{
    margin-left: 22px;
}

